{% extends 'base.html' %}

{% block title %}Lista de Posts{% endblock %}

{% block content %}
<h1>Lista de Posts</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td>{{ post['id'] }}</td>
            <td>{{ post['title'] }}</td>
            <td>
                <!-- Botón para ver detalles -->
                <a href="{{ url_for('get_one_post', post_id=post['id']) }}" class="btn btn-info btn-sm">Ver</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('create_one_post') }}" class="btn btn-success">Crear Nuevo Post</a>
{% endblock %}
